!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")
    /%link(rel="shortcut icon" href="../../assets/ico/favicon.ico")
    %title LivingSocial TSV file import summary
    %link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet")
    %link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")  
    %link(href="styles.css" rel="stylesheet")
    /HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      %script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
  %body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand LivingSocial TSV file uploader

    .jumbotron
      .container
        %h1 Import Summary 
        %p The results of import:
        %div
          -total = 0
          -start_id = session[:import_start_id].to_i
          -end_id = session[:import_end_id].to_i
          %table
            %tr
              %th Customer
              %th Quantity
              %th Description
              %th Unit Price
              %th Order Price
              %th Merchant
            -@orders = Order.where('id >= ? AND id <= ?', start_id, end_id).to_a
            -@orders.each do |order|
              %tr
                -item = Item.find_by(id: order.item_id)
                -customer = Customer.find_by(id: order.customer_id)
                -merchant = Merchant.find_by(id: order.merchant_id)
                %td #{customer.name}
                %td #{order.quantity}
                %td #{item.description}
                %td.currency #{sprintf( "%0.02f", item.price)}
                -order_price = order.quantity * item.price
                %td.currency #{sprintf( "%0.02f", order_price)}
                -total += order_price
                %td #{merchant.name}
            %tr
              %td(colspan="3")
              %td
                %strong Total Sales:
              %td.total.currency
                %strong $#{sprintf( "%0.02f", total)}
              %td
        %div
          %ul.nav.nav-pills
            %li.active
              %a(href="/") Upload another file 

    %hr
    %footer
      .container
        %p &copy; LivingSocial 2014

    /Bootstrap core JavaScript
    /Placed at the end of the document so the pages load faster
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")